*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 35px;
    box-shadow: 0px 1px 10px #D4D3D8;
}
.dark--nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 35px;
    box-shadow: 0px 1px 10px #D4D3D8;
    background-color: rgb(34, 32, 32);
}

.navbar--header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
.navbar--logo{
    height: 50px;
}
.navbar--title{
    color: rgb(0, 195, 255);
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar--toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.mode.light{
    margin-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dark--light{
    margin-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(194, 191, 191);
}
.mode.dark{
    margin-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(194, 191, 191);
}
.dark--dark{
    margin-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.navbar--button{
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    cursor: pointer;
}
.navbar--button.on{
    display: none;
}
.dark--button{
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: block;
}

.main{
    padding: 15vh 20vh;
}
.dark--main{
    padding: 15vh 20vh;
    padding-bottom: 25.7vh;
    background-color: rgb(49, 49, 49);
    color: white;
}

.main--title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.3em;
}

.main--reactfacts{
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    list-style-type: square;
}
.main ul li{
    margin-bottom: 10px;
}
.dark--main ul li{
    margin-bottom: 10px;
}

